.character{
    border: 3px solid darkmagenta;
    border-radius: 20%;
    margin: 15px;
    background-color: lightgrey;
}

.character h3 {
    color: rebeccapurple;
    text-align: center;
}

.character img {
    width: 250px;
    height: 250px;
    border-radius: 20%;
    margin: 10px;
}