.character{
    width: 400px;
    height: 200px;
    border: 2px solid #0b2a0c;
    background-color: rgba(163, 187, 163, 0.45);
    text-shadow: 1px 2px 1px rgb(253, 172, 172);
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.character button{
    height: 30px;
    width: 180px;
    background-color: rgba(48, 75, 48, 0.45);
    margin: 0 auto;
    border-radius: 8px;
}