.global {
    background-color: #f5f5dc;
}

body{
    margin: 0;
    padding: 0;
}

.title {
    margin: 0;
    padding: 10px;
    color: darkred;
    font-size: 50px;
    font-family: 'Grape Nuts', cursive;
    text-align: center;
    background-color: #e5d4ba;
    border-bottom: 1px solid darkred;
}