.center {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.block{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.block button {
    margin: 0 2px 0 2px;
}
